&#page-game {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .game-state {
    flex: 3;
    display: flex;
    flex-direction: row;
    min-height: 0;
  }

  .game-view {
    @import "./views/QuestionView";
    @import "./views/GameInfoView";
    @import "./views/AnswerSelectionView";
    @import "./views/TurnEndView";
    @import "./views/PlayerCardsView";
  }
}
