.root {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

nav {
  max-width: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav h1 {
  font-size: 26px;
}

nav a {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #4286f4;
  border-radius: 3px;
  color: #eee;
  font-weight: bold;
}

nav a:hover, nav a:focus {
  color: #eee;
  text-decoration: none;
  background-color: #366ec9;
}

main {
  flex: 4;
  margin: 0 20px;
}
