&#page-login {
  background: #FFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    top: -20%;
    width: 30%;
    min-width: 230px;
    max-width: 420px;
  }

  .title {
    text-align: center;
  }

  .login-form {
    border: 1px solid #999;
    padding: 15px 40px;

    .invalid {
      border-bottom-color: '#C33';
    }
  }
}
