{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },

  "plugins": ["@typescript-eslint", "import"],

  "root": true,

  "settings": {
    "import/resolver": {
      "typescript": true
    }
  },

  "rules": {
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["src/adapters/*", "src/interfaces/*", "src/persistence/*"]
      }
    ],
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc" },
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "src/**",
            "group": "internal"
          }
        ]
      }
    ]
  }
}
