@import 'tailwindcss';

@theme {
  --color-dim: var(--color-gray-400);
  --color-dark: var(--color-gray-900);
  --color-line: var(--color-neutral-800);
  --color-line-strong: var(--color-gray-400);

  --text-sm: 0.875rem;
  --text-body: 1rem;
  --text-large: 1.25rem;
  --text-xl: 2rem;
}

@layer base {
  * {
    border-color: var(--color-line);
  }

  html {
    font-size: 14px;
  }

  body {
    background-color: var(--color-black);
    color: var(--color-gray-200);
    font-family: 'JetBrains Mono', monospace;
  }

  p {
    @apply my-2;
  }

  input {
    background-color: transparent;
    @apply border-b-2 py-1 outline-none;
    @apply transition-colors;
  }

  input:focus {
    @apply border-line-strong;
  }

  input::placeholder {
    @apply text-body/50;
  }
}

@layer components {
  .btn {
    @apply rounded border px-4 py-2;
  }
}

@utility col {
  display: flex;
  flex-direction: column;
}

@utility row {
  display: flex;
  flex-direction: row;
}
