.card {
  width: 190px;
  height: 300px;

  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 2px #999;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .text {
    padding: 0 10px;
  }

  &.choice {
    background: #FFF;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
  }

  &.choice.selected {
    background: #cee1ef;
  }

  &.question {
    background: #333;
    color: #FFF;

    .blank {
      width: 32px;
      display: inline-block;
      margin: 0 5px;
      border-bottom: 1px solid #FFF;
    }

    .filled {
      font-weight: bold;
    }

    &.underline .filled {
      text-decoration: underline;
    }

    .question-answer-separator {
      height: 15px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .card {
    width: 140px;
    height: 220px;
  }
}