.player-avatar {
  width: 42px;
  height: 42px;

  &.can-change {
    cursor: pointer;
  }

  .upload-avatar {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 21px;
  }
}
