html, body, #root, .app, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@import "./App.dark";

.app {

  @import "./common/Card";
  @import "./common/PlayerAvatar";

  .page {
    background-color: #EEE;

    @import "./pages/Login";
    @import "./pages/Lobby";
    @import "./pages/game/GameIdle";
    @import "./pages/game/Game";
  }

  .api-down {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: -20%;
  }

  .loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    margin-right: 5px;

    &.arrow--open::before {
      content: '▾';
    }

    &.arrow--close::before {
      content: '▸';
    }
  }
}
