.app.dark {

  input {
    color: #EEE;
  }

  label,
  label span {
    color: #999;
  }

  button {
    background: #666;
  }

  .card {
    border-color: #444;
    box-shadow: 1px 2px 5px 2px #222;

    &.choice {
      background: #CCC;
      color: #111;

      &.selected {
        background: #cee1ef;
      }
    }

    &.question {
      background: #111;
      color: #FFF;

      .blank {
        border-bottom-color: #FFF;
      }
    }
  }

  .page {
    background: #333;
    color: #CCC;

    &#page-login {
      background: #333;
      color: #CCC;
    }

    &#page-game-idle {

      .players-list {
        background: #333;

        .player {
          background: #444;
          border-bottom-color: #666;

          &.player-offline {
            color: #999;
          }
        }
      }
    }

    &#page-game {

      .game-state {
        .game-indication {
          color: #999;
        }
      }

      .game-view#player-cards {
        background: linear-gradient(to bottom, #222 0, #444 5px);
      }

      .game-view#game-info {
        background: linear-gradient(to right, #222 0, #444 5px);

        .players-list .player.has-submitted {

          &::before, .player-nick {
            color: #4caf50;
          }
        }


        #game-history .turn {
          border-bottom-color: #666;

          &.turn-open {
            background: #333;

            .turn-question {
              border-bottom-color: #999;
            }

            .turn-answers .turn-answer {
              border-bottom-color: #666;
            }
          }
        }
      }
    }
  }
}
