{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"],
    },
  },
  "plugins": [
    ["transform-export-extensions"],
    ["transform-inline-environment-variables"],
    ["babel-plugin-root-import", [{
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }]],
  ],
}
