{
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react",
    "react-native",
    "flowtype",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "react-native/react-native": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/all",
    "plugin:react-native/all",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "react/require-optimization": ["off"],
    "react/forbid-component-props": ["off"],
    "react/no-set-state": ["off"],

    "react/sort-comp": ["error", {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "/^handle.+$/",
        "render",
        "/^render.+$/"
      ]
    }],

    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-depth": ["error", { "max": 3 }],
    "react/jsx-max-props-per-line": ["error", { "maximum": 4 }],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-no-bind": ["off"],
    "react/jsx-no-literals": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-sort-props": ["off"],
    "react/jsx-sort-default-props": ["off"],

    "react-native/no-color-literals": ["off"]
  }
}
