.dark .game-idle .players-list {
  background: #333;
}

.dark .game-idle ul.players-list {
  background: #444;
}

.dark .game-idle ul.players-list li {
  border-bottom: 2px solid #666;
}

.dark .game-idle ul.players-list li.player-offline {
  color: #999;
}

.dark .question-view .question-card.submitted .card.question {
  color: #CCC;
  background: #444;
}

.dark .choices-view {
  background: linear-gradient(to bottom, #222 0, #444 5px);
}

.dark .game-info-view {
  background: linear-gradient(to right, #222 0, #444 5px);
}

.dark .game-info-view .players-list-label {
  border-bottom: 1px solid #666;
}

.dark .game-info-view .player-item.offline {
  color: #999;
}

.dark .game-info-view .player-item .player-item-submitted {
  color: #339933;
}

.dark .game-info-view .game-history-label {
  border-bottom: 1px solid #666;
}
