.game {
  width: 100%;
  height: 100%;
}

.game-idle {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.game-idle .start-button {
  font-weight: bold;
  font-size: 1.2em;
}

.game-idle .players-list {
  width: 100%;
  margin-top: 30px;
  background: #FFF;
  text-align: initial;
  font-weight: bold;
}

.game-idle ul.players-list {
  width: 100%;
  margin-top: 30px;
  background: #FFF;
  text-align: initial;
  font-weight: bold;
  list-style-type: none;
  padding-left: 0;
}

.game-idle ul.players-list li {
  padding: 15px;
  border-bottom: 2px solid #EEE;
}

.game-idle ul.players-list li:last-child {
  border-bottom: none;
}

.game-idle ul.players-list li.player-offline {
  color: #933;
}

.question-view {
  width: 65%;
  height: 65%;
  text-align: center;
  position: relative;
}

.question-view .question-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question-view .question-card.can-submit .card.question {
  cursor: pointer;
}

.question-view .question-card.submitted .card.question {
  color: #CCC;
  background: #444;
}

.question-view .question-master {
  font-weight: bold;
}

.answer-selection-view {
  width: 65%;
  height: 65%;
  text-align: center;
  position: relative;
}

.answer-selection-view .answers-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answer-selection-view .answers-list .card.question {
  margin: 5px;
}

.answer-selection-view .answers-list.can-select .card.question {
  cursor: pointer;
}

.choices-view {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, #AAA 0, #DDD 5px);
  overflow-x: scroll;
}

.choices-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 15px;
  white-space: nowrap;
}

.choices-list .choice {
  margin: 0 5px;
  white-space: normal;
}

.choices-list .choice.selected {
  cursor: pointer;
}

.choices-list .choice.can-select {
  cursor: pointer;
}

.game-info-view {
  width: 35%;
  height: 65%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, #AAA 0, #DDD 5px);
}

.game-info-view .game-title {
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 30px;
}

.game-info-view .players-list {
  padding: 15px;
}

.game-info-view .players-list-label {
  font-size: 1.2em;
  border-bottom: 1px solid #CCC;
}

.game-info-view .players-list ul {
  padding: 0;
  list-style-type: none;
}

.game-info-view .player-item {
  padding: 0 15px;
}

.game-info-view .player-item.offline {
  color: #666;
}

.game-info-view .player-item.question-master {
  font-weight: bold;
}

.game-info-view .player-item.submitted .player-item-submitted {
  display: inline-block;
}

.game-info-view .player-item .player-item-score {
  width: 25px;
  display: inline-block;
}

.game-info-view .player-item .player-item-nick {
  display: inline-block;
}

.game-info-view .player-item .player-item-submitted {
  display: none;
  margin-left: 5px;
  color: #339933;
}

.game-info-view .game-history {
  padding: 15px;
}

.game-info-view .game-history-label {
  font-size: 1.2em;
  border-bottom: 1px solid #CCC;
}

.game-info-view .game-history ul {
  padding: 0;
  list-style-type: none;
}
