&#answer-selection {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;

  .answers-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 40px;

    .card.question {
      margin: 0 5px;
    }

    &.can-select .card.question {
      cursor: pointer;
    }
  }
}
