&#game-info {
  flex: 2;

  background: linear-gradient(to right, #AAA 0, #DDD 5px);
  overflow: auto;
  padding: 15px;

  .game-title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .players-list,
  .game-history,
  .settings {
    padding: 0 15px;
  }

  h2 {
    font-size: 1.2em;
    border-bottom: 1px solid #CCC;
  }

  .players-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .player {
      margin: 0 10px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.question-master .player-nick {
        font-weight: bold;
      }

      &.offline {
        filter: grayscale(100%) opacity(80%);
      }

      &.has-submitted {

        &::before, .player-nick {
          color: #4caf50;
        }

        &::before {
          content: '✔';
          position: absolute;
          right: -10px;
          font-size: 2em;
        }
      }

      .player-nick {
        text-align: center;
      }
    }
  }

  @import "./GameHistory";
}
