&#player-cards {
  flex: 2;
  background: linear-gradient(to bottom, #AAA 0, #DDD 5px);

  .cards-list {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: auto;

    .card.choice {
      min-width: 190px;
      min-height: 300px;
      margin: 0 5px;

      &.can-select,
      &.selected {
        cursor: pointer;
      }
    }
  }
}
