&#question-view {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;

  .question-card {

    .card {
      min-width: 190px;
      min-height: 300px;
    }

    &.can-submit .card.question {
      cursor: pointer;
    }

    &.submitted .card.question {
      color: #CCC;
      background: #444;
    }

    .question-master {
      font-weight: bold;
      text-align: center;
    }
  }
}
