&#turn-end {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  padding: 0 40px;

  .winner {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-size: 2em;
    font-weight: bold;
  }

  .answers-list {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .next-turn-btn {
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-weight: bold;
  }

  .answered-question {
    display: inline-block;
    margin: 5px;

    .answered-by {
      text-align: center;
    }
  }
}
