@font-face {
  font-family: JetBrainsMono;
  src: url(../fonts/JetBrainsMono-Regular.woff);
}

@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  src: url(../fonts/JetBrainsMono-Italic.woff);
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: medium;
  src: url(../fonts/JetBrainsMono-Medium.woff);
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: medium;
  font-style: italic;
  src: url(../fonts/JetBrainsMono-Medium-Italic.woff);
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: bold;
  src: url(../fonts/JetBrainsMono-ExtraBold.woff);
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/JetBrainsMono-ExtraBold-Italic.woff);
}
