<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title></title>
    <style>
      body {
        background-color: black;
      }

      #app {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
