* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body, #app {
  height: 100%;
}

body {
  font-family: JetBrainsMono, monospace;
  background-color: black;
  color: #789;
}

input, button {
  font-family: JetBrainsMono, monospace;
  background-color: transparent;
  border: none;
  outline: none;
}

input {
  border-bottom: 1px solid #789;
  color: #DEF;
}

button {
  color: #ABC;
}

.toast {
  min-height: 48px;
  font-size: 14px;
}

.toast-error {
  color: #C89;
}

.Toastify__toast {
  background: #000;
  font-family: JetBrainsMono, monospace;
}

.Toastify__toast--default {
  color: #789;
}

@media screen and (min-width: 481px) {
  .Toastify__toast--default {
    border: 1px solid #789;
  }
}
