body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #EEE;
}

.card {
  width: 190px;
  height: 300px;
  margin: 5px;
  display: inline-block;
  position: relative;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 2px #999;
}

.card .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.card.choice {
  background: #FFF;
  color: #000;
  font-weight: bold;
}

.card.choice.selected {
  background: #cee1ef;
}

.card.question {
  background: #333;
  color: #FFF;
}

.card.question .blank {
  width: 30px;
  display: inline-block;
  margin: 0 5px;
  border-bottom: 1px solid #FFF;
}
